module.exports = {
    validation: {
        emailBase: ""
    },
    discord: {
        token: "Token",
        guild: "Snowflake",
        guildName: "Private Discord",
        channels: {
            onboardingChannel: "Snowflake",
            botChannel: "Snowflake",
        },
        employeeRoleName: "Employee",
        guestRoleName: "Guests",
        embed: {
            colour: "#DC143C",
            footer: "Powered by Cordelia",
            footerImg: ""
        }
    },
    oauth: {
        client:"Client ID",
        secret: "Secret",
        callback: "https://contoso.com/auth/google/callback"
    },
    express: {
        port: 8080,
        host: "0.0.0.0",
        external_URL: "https://contoso.com",
        domain: "contoso"
    }
}